<span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    <header class="panel-cover {% if paginator.previous_page %} panel-cover--collapsed {% endif %}" style="background-image: url({{ "assets/images/cover.jpg" | prepend: site.baseurl }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="http://yemingyu.com" title="前往 夜禹 的主页"><img src="/assets/images/profile.jpg" width="80" alt="夜禹 logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="http://yemingyu.com" title="link to homepage for 夜禹">夜禹</a></h1>
        <span class="panel-cover__subtitle panel-subtitle">不积跬步无以至千里，不积小流无以成江海</span>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">Hello，我是叶鸣宇 (花名夜禹)，一名普通的 iOS开发程序猿。现就职于 北京 蚂蚁金服。 探索代码之源，摸清原理之事。 </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <p class="panel-cover__description"><a href="http://github.com/yemingyu" target="_blank">所编写的 项目 以及 各种小例子 的代码，欢迎访问</a></p>

        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
              <li class="navigation__item"><a href="http://github.com/yemingyu" target="_blank" title="我的项目">项目</a></li>
              <li class="navigation__item"><a href="/assets/images/gongzhonghao.jpg" title="微信公众号" target="_blank">微信</a></li>
              <!--li class="navigation__item"><a href="http://eepurl.com/wNSkj" title="邮件订阅本站">订阅</a></li-->
            </ul>
          </nav>
          </div>
          <div>
          <nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/2404119260/" title="夜禹 的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/yemingyu" title="夜禹 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <!--li class="navigation__item">
    <a href="http://twitter.com/yemingyu" title="yemingyu" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li-->

  <!-- Google Plus -->
  <!--li class="navigation__item">
    <a href="https://plus.google.com/107108267983477358170" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Twitter</span>
    </a>
  </li-->

  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:me@yemingyu.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-slate"></div>
  </div>
</header>