---
layout: default_ymy
---
<div class="main-post-list">
  <article class="post-container post-container--single">
    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">
        	{{ page.date | date: "%-d %b %Y" }}
        </time> 
        &#8226; 
        <span class="post-meta__tags tags">
        	on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}
        </span>
      </div>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <section class="post">
      {{ content }}
    </section>
  </article>
{%if page.next %}
<div class="read-more">
   <div class="read-more-item read-more-item-left">
       <span class="read-more-item-dim">最近的文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}" title="{{ page.next.title }}" title="link to {{page.next.title}}">{{page.next.title}}</a></h2>
       <p class="excerpt">{{ page.next.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
       <!--p class="excerpt">{{ page.next.excerpt.characters="100"}}&hellip;</p-->
       <div class="post-list__meta">
       <time datetime="{{ page.next.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ page.next.date | date: "%-d %b %Y" }}
          </time> &#8226;  <span class="post-list__meta--tags tags">
            on {% for tag in post.tags %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}
          </span>
          <a class="btn-border-small" href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}" title="{{ page.next.title }}">继续阅读</a>
        </div>
   </div>
{% endif %}
{%if page.previous %}  
   <div class="read-more-item read-more-item-right">
       <span class="read-more-item-dim">更早的文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ page.previous.url | remove_first: '/' }}" title="{{ page.previous.title }}" title="link to {{page.previous.title}}">{{page.previous.title}}</a></h2>
       <p class="excerpt">{{ page.previous.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
       <div class="post-list__meta">
       <time datetime="{{ page.previous.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ page.previous.date | date: "%-d %b %Y" }}
          </time> &#8226;  <span class="post-list__meta--tags tags">
            on {% for tag in post.tags %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}
          </span>
          <a class="btn-border-small" href="{{ site.baseurl }}{{ page.previous.url | remove_first: '/' }}" title="{{ page.previous.title }}">继续阅读</a>
        </div>
   </div>
{% endif %}
</div>

  <section class="post-comments">
  <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//yemingyu.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
</div>